[Unit]
Description=The PHP 5.4 FastCGI Process Manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php-fpm --nodaemonize --fpm-config /usr/local/php/5.4/etc/php-fpm.conf
ExecStartPost=-/usr/local/php/5.4/bin/php-fpm-socket-helper install /run/php/php-fpm.sock /usr/local/php/5.4/etc/php-fpm.d/www.conf 54
ExecStopPost=-/usr/local/php/5.4/bin/php-fpm-socket-helper remove /run/php/php-fpm.sock /usr/local/php/5.4/etc/php-fpm.d/www.conf 54
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target